*{
    margin: 0;
    padding: 0;
}
#menu ul{
    background-color: rgb(207, 50, 207);
}
#menu ul li{
    display: inline-table;
    padding: 20px 30px;
    cursor: pointer;
}
#menu ul li:hover{
    background-color: rgba(0,0,0,0.5);
}
#menu ul li a{
    text-decoration: none;
    color: white;
}

h1{
text-align:center;
color: rgb(255, 0, 255);
width: 100%;
position: relative;
top: -40px;
}
h3{
    text-align: center;
    color: rgb(255, 0, 255);
}
body{
    background-color: rgb(255, 220, 255);
    font-family: Georgia;
}
#foca{
    width: 100%;
    height: 150px;  
}
h2{
    color:rgb(255, 0, 255) ;
    text-align:justify;
}

#somos{
   text-align: center;
}
#ctt{
    text-align: center;
}

.img1{
    display: flex;
    flex-direction: row;
}
.txt1{
    display: flex;
    align-items:initial;
}
.img2{
    display: flex;
    flex-direction: row;
}
.txt2{
    display: flex;
    align-items:initial;
}
.img3{
    display: flex;
    flex-direction: row;
}
.txt3{
    display: flex;
    align-items:initial; 
}
.img4{
    text-align: center;   
}
.txt4{
    text-align: center;
}